body{
    display: flex;
}
aside{
    display: flex;
    flex-direction: column;
}

figure{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
}

main{
    display: flex;
}

footer{
    display: flex;
}